<div class="col-sm-offset-3 col-md-offset-2" ng-controller="RoomController">
    <h1>Room Details</h1>
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6">
            <img src="img/room.jpg" class="img-responsive">
            <h3> <span class="glyphicon glyphicon-home"></span> Name: {{model.room.title}}</h3>
            <h3> <span class="glyphicon glyphicon-bell"></span> Issues: {{model.issues.length}}</h3>
            <div class="list-group" id="issues" >
                <button ng-repeat="i in model.issues"type="button" class="list-group-item">Issue title: {{i.title}}</button>
            </div>
            <h3> <span class="glyphicon glyphicon-bell"></span> People: {{model.room.users.length}}</h3>
            <div class="list-group" id="issues" ng-repeat="u in model.rooms.users">
                <button type="button" class="list-group-item">{{u.username}}</button>
            </div>

            <!--<div class="user" style="background-image:url('img/linkedin.jpg')"></div>
            <div class="user" style="background-image:url('img/adam.jpg')"></div>
            <div class="user" style="background-image:url('img/josh.jpg')"></div>-->

            <h3> <span class="glyphicon glyphicon-user"></span> Creator: {{model.roomCreator.firstName}}</h3>

        </div>
    </div>
</div>
