<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>


            <ul class="nav nav-tabs">
                <li role="presentation"><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>

            <form>
                <label for="FirstName">First Name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                    <div class="input-group-btn">
                            <span class="glyphicon glyphicon-pencil"></span>


                            <span class="glyphicon glyphicon-plus"></span>


                            <span class="glyphicon glyphicon-remove"></span>


                            <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <label for="LastName">Last Name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-pencil"></span>


                        <span class="glyphicon glyphicon-plus"></span>


                        <span class="glyphicon glyphicon-remove"></span>


                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <label for="DateOfBirth">Date of Birth:</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="DateOfBirth" placeholder="Select Date">
                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-pencil"></span>


                        <span class="glyphicon glyphicon-plus"></span>


                        <span class="glyphicon glyphicon-remove"></span>


                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>

                <label for="Gender">Gender:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Gender" aria-label="..." placeholder="Male">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Male</a></li>
                         <li><a href="#">Female</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                        </div>

                </div>

                <label for="Roles">Roles:</label>
                <div class="input-group">
                    <div class="checkbox" id="Roles">
                        <label>
                            <input type="checkbox" value="">Admin
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" value="">Student
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" value="">User
                        </label>
                    </div>
                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
                <label for="LicenseAgreement"> License Agreement:</label>
                <div class="input-group">
                <div class="radio" id="LicenseAgreement">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        No
                    </label>
                </div>

                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                  </div>

                <hr>
                <label for="AddNewField">Add New Field:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="AddNewField" aria-label="..." placeholder="Single Line Text">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Single Line Text</a></li>
                            <li><a href="#">Date</a></li>
                            <li><a href="#">Dropdown</a></li>
                            <li><a href="#">Checkboxes</a></li>
                            <li><a href="#">Radio buttons</a></li>
                            <li><a href="#">Paragraph Text Field</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn">
                        <span ></span>
                        <span class="glyphicon glyphicon-plus"></span>
                        <span> </span>
                        <span></span>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
