<div class="container-fluid" ng-controller="ProfileController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Create Issue</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Issue Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea id="password" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="priority" class="col-sm-2 control-label">Priority</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="priority">
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Assign</label>
                    <div class="col-sm-10">
                        <input ng-model="user.lastName" type="text" class="form-control" id="lastName" placeholder="andrew.m">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Upload image</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info">Select image</button>
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<label for="inputEmail" class="col-sm-2 control-label">Email</label>-->
                <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="update(user)" class="btn btn-primary btn-block">Create Issue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

