<div class="container-fluid" ng-controller="RoomController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Edit Room</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input ng-model="model.room.title" type="text" class="form-control" id="username" placeholder="Andrew's Apartment">
                    </div>
                </div>
                <div class="form-group">
                  <label for="multipleSelect" class="col-sm-2 control-label">Select issues:  </label><br>
                  <div class="col-sm-10">
                    <select name="multipleSelect" id="multipleSelect" ng-model="model.room.issues" multiple>
                          <option ng-repeat="issue in model.issues" value="{{issue._id}}">{{issue.title}}</option>
                        </select><br>
                </div>
              </div>
                <div class="form-group">
                  <label for="multipleSelect" class="col-sm-2 control-label">Select users:  </label><br>
                  <div class="col-sm-10">
                    <select name="multipleSelect" id="multipleSelect" ng-model="model.room.users" multiple>
                          <option ng-repeat="user in model.users" value="{{user._id}}">{{user.username}}</option>
                        </select><br>
                </div>
              </div>
                <div class="form-group">
                    <label for="uploadImage" class="col-sm-2 control-label">Upload new image</label>
                    <div class="col-sm-10" id="uploadImage">
                        <img src="img/room.jpg" class="img-responsive img-room">

                        <button type="button" class="btn btn-info">Select image</button>

                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<label for="inputEmail" class="col-sm-2 control-label">Email</label>-->
                <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="update(user)" class="btn btn-primary btn-block"> Update room</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
