<div class="container-fluid" ng-controller="IssueController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/issues">Issues</a></li>
                <li role="presentation"><a href="#/users">Users</a></li>
                <li role="presentation"><a href="#/rooms">Rooms</a></li>
            </ul>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Issue Name
                    </th>

                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Priority
                    </th>

                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Description
                    </th>

                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Assignee ID
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Room ID
                    </th>

                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Image
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input ng-model="model.issue.title" type="text" class="form-control" placeholder="Issue Name">
                    </td>
                    <td>
                        <input ng-model="model.issue.priority" type="text" class="form-control" placeholder="Priority">
                    </td>
                    <td>
                        <input ng-model="model.issue.description" type="text" class="form-control" placeholder="Description">
                    </td>
                    <td>
                        <input ng-model="model.issue.assignee" type="text" class="form-control" placeholder="Assignee ID">
                    </td>
                    <td>
                        <input ng-model="model.issue.roomId" type="text" class="form-control" placeholder="Room ID">
                    </td>
                    <td>
                        <input ng-model="model.issue.image" type="text" class="form-control" placeholder="Image">
                    </td>
                    <td class="action">
                        <div class="btn-group">
                        <button ng-click="model.addIssue(model.issue)" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                        <button ng-click="model.updateIssue(model.issue)" class="btn btn-success"><span class="glyphicon glyphicon-ok "></span></button>
                        </div>
                    </td>
                </tr>

                <tr ng-repeat="i in model.allIssuesInSystem">
                    <td>{{i.title}}</td>
                    <td>{{i.priority}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.assignee}}</td>
                    <td>{{i.roomId}}</td>
                    <td>{{i.image}}</td>
                    <td>
                        <div class="btn-group">
                        <button ng-click="model.deleteIssue($index)" class="btn btn-danger"><span class="glyphicon glyphicon-glyphicon glyphicon-remove"></span></button>
                        <button ng-click="model.selectIssue($index)" class="btn btn-warning"><span class=" glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
