<div class="col-sm-offset-3 col-md-offset-2">
    <h1>Room Details</h1>
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6">
            <img src="img/room.jpg" class="img-responsive">
            <h3> <span class="glyphicon glyphicon-home"></span> Name: Andrew's Apartment</h3>
            <h3> <span class="glyphicon glyphicon-bell"></span> Issues: 3</h3>
            <div class="list-group" id="issues">
                <button type="button" class="list-group-item">Clean room</button>
                <button type="button" class="list-group-item">Take out trash</button>
                <button type="button" class="list-group-item">Organize room</button>
            </div>
            <h3> <span class="glyphicon glyphicon-bell"></span> People: 3</h3>
            <div class="user" style="background-image:url('img/_linkedin.jpg')"></div>
            <div class="user" style="background-image:url('img/adam.jpg')"></div>
            <div class="user" style="background-image:url('img/josh.jpg')"></div>

            <h3> <span class="glyphicon glyphicon-user"></span> Creator: Andrew</h3>

        </div>
    </div>
</div>