<div class="col-sm-9 col-sm-offset-3 col-md-10 main" ng-controller="SearchController">
<u><h1> Search Results</h1></u>

  <div ng-show="model.issueResults.length > 0" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Issues</h1>
  </div>

  <div class="panel-body">
    <a ng-repeat="s in model.issueResults" href="#/issuedetails/{{s._id}}">{{s.title}}</a>
      </div>
</div>

<div ng-show="model.roomResults.length > 0" class="panel panel-default">
<div class="panel-heading">
  <h1 class="panel-title">Rooms</h1>
</div>

<div class="panel-body">
  <a ng-repeat="r in model.roomResults" href="#/roomdetails/{{r._id}}">{{r.title}}</a>
    </div>
</div>


<div ng-show="model.userResults.length > 0" class="panel panel-default">
<div class="panel-heading">
  <h1 class="panel-title">Users</h1>
</div>

<div class="panel-body">
  <a ng-repeat="u in model.userResults" href="#/profile/{{u._id}}">{{u.username}}</a>
    </div>
</div>


</div>
